html, body {
    background-color: $pubg-blue;
}

.loading {
    background-color: rgba($pubg-blue, 0.5);
    color: white;
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: $pubg-orange;
    font-size: 16px;
    &::before {
        content: url('./../icons/logo-16.png');
        margin: 0 10px 0 0;
        display: inline-block;
        vertical-align: middle;
    }
}

.container-refresh {
    display: flex;
    align-items: center;
}

.form-refresh {
    text-align: center;
    margin: 0 0 15px 0;
    input, button {
        display: inline-block;
    }
    input {
        width: 40%;
    }
    button {
        margin: -2px 0 0 10px;
    }
}

.pubg-container {
    background: $pubg-grey url('./../img/background.png') no-repeat center top;
    background-size: contain;
}

.bg-pubg {
    color: $white;
}

.table {
    background-color: rgba($white, .7);
}
