// colors
$pubg-orange:           #F37B02;
$pubg-brown:            #7F3300;

// Bootstrap
$primary:               $pubg-brown;
$table-cell-padding:    .20rem .40rem;
$table-hover-bg:        rgba($pubg-orange, .075) !default;
